body{
    background-image: url("images/image_notebook.jpg");
}
.heading{
    font-family: 'Italianno', cursive;
    text-align: center;
    margin-top: 5%;
    font-size: 500%;
    font-weight: 1000;
    color: #fff0f5;
}
.form{
    display: inline-block;
    background-color: black;
    padding: 10px;
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    background-color: #F0F0F0;
    border-radius: 5px;
}
.table{
    padding: 10px;
    
}
.btn{
    background-color: #a3d9f0;
    size: auto;
    margin: 0 35%;
}
label{
    color: black;
}